<% if (isLoggedIn === true) { %>
  <li><a href="/profile/<%= user.id %>">Profile</a></li>
  <li><a href="/logout">Sign Out</a></li>
<% } else { %>
  <li><a href="/sign-up">Sign Up</a></li>
  <li><a href="/sign-in">Sign In</a></li>
<% } %>
